header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}